body {
    background-color: rgb(54, 98, 55);
    font-family: sans-serif;
    color: rgb(144, 213, 41);
    margin: 0;
}

form {
    background-color: transparent;
    padding: 10px;
    max-width: 500px;
    margin:auto;
    box-shadow: 0px 0px 55px rgb(81, 143, 82);
    margin-top: 50px;
    border-radius: 10px;
    font-size: 16px;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid rgb(81,143,82);
    box-shadow: 0px 0px 15px #234b21;
    background-color: transparent;
    border-radius: 10px;
    color: #ddd;
    margin: 6px;
}
option {
    background-color: rgb(54, 98, 55);
    
}

fieldset {
    margin: 20px 0px;
    border: 2px solid #234b21;
    border-radius: 10px;
}

legend {
    padding: 10px 6px;
}

label {
    font-size: 1em;
    line-height: 2;
}

.checkbox {
    width: auto;
    height: 10px;
    padding: 5px;
}

a {
    color: #69f;
    text-decoration: none;
} 