

/* navbar */
#navbar{
  background-color: green;
  font-family: 'Roboto', sans-serif;
}
#logo img{
  border-radius: 10px;
  width: 160px;
  margin-left: 40px;
}
.navbar-nav{
  margin-left: 50px;
}
.nav-item .nav-link{
  color: white;
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
}
.nav-item .nav-link:hover{
  background: greenyellow;
  border-radius: 5px;
  color: green;
}
#navbar form button{
  background: black;
  color: white;
  border: 1px solid white;
}
/* navbar */
/* inicio */
#inicio{
    width: 100%;
    height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../imagenes/fulboparapag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    font-family: 'Roboto', sans-serif;
}
.content{
  padding-top: 210px;
  margin-left: 56px;
}
.content h3{
  font-size: 50px;
  color: white;
}
.content p{
  margin-top: 10px;
  color: white;
}
#btn{
  width: 150px;
  height: 36px;
  margin-top: 20px;
  background: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
  color: green;
}
#btn:hover{
  background: green;
  color: white;
}
/* inicio */

/* quienes somos */
#quienes_somos{
  width: 100%;
  height: 100vh;
  background: #f7f5f2;
  font-family: 'Roboto', sans-serif;
}
#quienes-somos .container{
  padding-top: 70px;
}
.heading{
  text-align: center;
  margin-bottom: 50px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.heading span{
  color: green;
}
#quienes-somos .card{
  border-radius: 10px;
}
#quienes-somos .card img{
  border-radius: 10px;
}
#about-btn{
  width: 200px;
  height: 36px;
  background: transparent;
  border: 2px solid green;
  color: green;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
#about-btn:hover{
  background: green;
  color: greenyellow;
}
@media screen and (max-width:982px){
  #quienes-somos p{
    font-size: 8px;
  }
}
@media screen and (max-width:766px){
  #quienes-somos p{
    font-size: 15px;
  }
  #quienes-somos{
    height: 120vh;
  }
}
/* quienes somos */

/* mejores categorias */
.top-cards{
  width: 100%;
  min-height: 60vh;
  height: auto;
  background: black;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}
.heading2{
  color:greenyellow;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.heading2 span{
  color: green;
}
.top-cards .container{
  margin-top: 30px;
}
.top-cards .card{
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.top-cards .card img{
  border-radius: 10px;
 }
.top-cards .card h3{
  text-align: center;
  padding-top: 78px;
  color: white;
}
.top-cards .card:hover{
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  section,
  #inicio,
  .top-cards,
  .contacto,
  #quienes_somos {
    height: auto !important;
    min-height: auto;
  }
}

@media screen and (max-width:500px){
 .top-cards{
  height: 150vh;
  
 } 
}
@media screen and (max-width:370px){
 .top-cards{
  height: 120vh;
  
 } 
}
/* mejores categorias */

/* equipos */
.equipos{
  width: 100%;
  background: black;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
  margin-top: auto;
}
.heading3{
  text-align: center;
  font-size: 30px;
  color: greenyellow;
  font-weight: bold;
  border-bottom: 2px solid greenyellow;
}
#container2{
  margin-top: 20px;
}
.equipos .card{
  background: rgb(52, 52, 52);
  box-shadow: rgb(45, 44, 44) 8px 8px 13px;
}
.star i{
  color: greenyellow;
}
.equipos h3{
  color:greenyellow;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
.equipos p{
  font-size: 16px;
  color: greenyellow;
  padding-top: 10px;
}
.equipos p span{
  float: right;
  cursor: pointer;
}
/* equipos */

/* cursos */
.cursos{
  width: 100%;
  background: black;
  color: aliceblue;
  padding-bottom: 30px;
}
.cursos h1{
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
  font-weight: bold;
}
.cursos h1 span{
  color: greenyellow;
}
.cursos h3{
  color: greenyellow;
}
.cursos .container{
  margin-top: 60px;
}
.cursos h5{
  color: green;
}
#blogbtn{
  width: 200px;
  height: 36px;
  border: none;
  color: greenyellow;
  background: green;
  cursor: pointer;
}
.card-body{
  background: rgb(52, 52, 52);
}
/* cursos */

/* contacto */
.contacto{
  width: 100%;
  height: 100vh;
  background: gray;
  padding-top: 70px;
}
.contacto .container{
  width: 100%;
  height: 80vh;
  background: gray;
  background: linear-gradient(90deg, black 80%, greenyellow 20%);
  border-radius: 10px;
}
.heading6{
  font-size: 30px;
  font-weight: bold;
  margin-top: 70px;
}
.heading6 span{
  color: greenyellow;
}
.heading6{
  color: green;
}
.contacto p{
  font-weight: bold;
  font-size: 13px;
  color: green;
}
.contacto input{
  width: 360px;
  border: none;
  border-bottom: 1px solid;
  color: green;
}
#contacto-btn{
  width: 200px;
  height: 36px; 
  border: none;
  background: green;
  color: greenyellow;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}
#col{
  width: 40%;
  height: 56vh;
  background: gray;
  margin-top: 78px;
}
.contacto h1{
  color: greenyellow;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}
.contacto #col p{
  font-size: 15px;
  color: greenyellow;
  margin-left: 13px;
  padding-top: 30px;
}
@media screen and (max-width:766px){
  .contacto .container{
  background: black;
  }
  #col{
    width: 100%;
    background: black;
  }
  .contacto{
    height: 150vh;
  }
}
@media screen and (max-width:400px){
  .contacto input{
    width: 250px;
  }
  
}
/* contacto */


/* footer */
#footer{
  width: 100%;
  background: green;
  margin-top: 50px;
}
.footer-logo img{
  width: 180px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
#footer .socail-links i{
  font-size: 17px;
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: greenyellow;
  color: green;
  border-radius: 10px;
  cursor: pointer;
}
.credite{
  color: black;
  margin-top: 20px;
}
.credite{
  text-shadow: 0px 0px 1px black;
}
.credite a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.credite a span{
  color: white;
}
.copyright span{
  color: white;
}
/* footer */
html{
  scroll-behavior: smooth;
}
.arrow{
  position: fixed;
  border-radius: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}
/* footer */