$blanco: #ffffff;
$negro: #000000;
$verde: green;
$verde-claro: greenyellow;
$gris: gray;
$gris-oscuro: rgb(52, 52, 52);
$beige: #f7f5f2;
$alice: aliceblue;
$whitesmoke: whitesmoke;


$font-principal: 'Roboto', sans-serif;


$transition: 0.5s ease;


$radius-sm: 5px;
$radius-md: 10px;

$btn-height: 36px;
$btn-width-sm: 150px;
$btn-width-md: 200px;

$overlay-dark: rgba(0, 0, 0, 0.3);
